@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

.title {
  margin-top: 80px;
  margin-left: 100px;
  box-sizing: border-box;
  display: flex;
  color: white;
}

.part1 {
  font-size: 4rem;
  font-family: 'Cormorant', serif;
  font-weight: 500;
  letter-spacing: 5px;
}

.part2 {
  padding-left: 30px;
  font-size: 3.8rem;
  font-family: 'Courgette', cursive;
  letter-spacing: 3px;
}

p {
  margin-left: 100px;
  color: white;
  font-size: 1.4em;
  font-family: 'Work Sans', sans-serif;
}
