.App {
  /* text-align: center; */
  background-image: url('bgimg.jpg');
  /* filter: blur(2px);
  -webkit-filter: blur(2px); */
  position: fixed;
  min-width: 100%;
  min-height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0 -600px;
  background-color: #f4f2ff;
}
